* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disable {
    cursor: no-drop !important;
    background-color: #ccc !important;
}

.flex-start {
    justify-content: start;
    gap: 30px;
}

.m-r55 {
    margin-right: 55px;
}